.lead {
  width: 100%;
  padding: 50px 50px;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
@media screen and (max-width: 1024px) {
  .lead {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  .lead {
    padding: 25px 0;
  }
}

.lead__image {
  justify-self: center;
  width: 100%;
  max-width: 500px;
  border-radius: 20px;

  transition: 300ms ease;
}
@media screen and (max-width: 768px) {
  .lead__image {
    max-width: 85%;
  }
}

.lead__article {
  justify-self: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.lead__title {
  min-width: max-content;
  margin: 0;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #000;
}
@media screen and (max-width: 768px) {
  .lead__title {
    min-width: min-content;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  }
}

.lead__list {
  list-style-type: none;
  padding: 0;
  margin: 15px 0 0 15px;
  display: grid;
  justify-content: flex-start;
  gap: 15px;
}
@media screen and (max-width: 768px) {
  .lead__list {
    justify-content: center;
    margin: 15px 0 0;
  }
}

.lead__list-item {
  width: fit-content;
  transition: 300ms ease;
}

.lead__list-item:hover {
  transform: translate3d(0px, -3px, 0.01px);
}

.lead__link {
  text-transform: lowercase;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #6e6e6e;
  transition: 300ms ease;
}
@media screen and (max-width: 768px) {
  .lead__link {
    font-size: 18px;
  }
}

.lead__link:hover {
  cursor: pointer;
  color: #ff9c08;
  transform: translate3d(0px, -3px, 0.01px);
}

.lead__link::before {
  content: '-';
  padding-right: 5px;
}
