.lead {
  width: 100%;
  padding: 50px 50px;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

@media screen and (max-width: 1024px) {
  .lead {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    padding: 20px 0 40px;
  }
}

.lead__image {
  justify-self: center;
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    max-width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    max-width: 85%;
  }
}

.lead__article {
  justify-self: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.lead__title {
  min-width: max-content;
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}

.lead__text {
  min-width: max-content;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {

  .lead__title,
  .lead__text {
    min-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .lead__title {
    font-size: 25px;
  }
}

@media screen and (max-width: 480px) {
  .lead__text {
    font-size: 18px;
  }
}

.lead__list {
  list-style-type: none;
  padding: 0;
  margin: 25px 0 0;
  box-sizing: border-box;

  display: grid;
  justify-content: center;
  gap: 15px;
}

@media screen and (max-width: 1024px) {
  .lead__list {
    width: 100%;
    justify-content: stretch;
    margin: 25px 0 0;
  }
}

.lead__list-item {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .lead__list-item {
    width: 100%;
  }
}

.lead__link {
  display: block;
  text-decoration: none;
  margin: 0;
  padding: 15px 30px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #f0ece8;
  background-color: transparent;
  box-shadow: 0 2px 12px 0 rgb(43 43 43 / 6%);

  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #000;

  transition: 300ms ease;
}

@media screen and (max-width: 768px) {
  .lead__link {
    width: 100%;
  }
}

.lead__link:hover {
  cursor: pointer;
  color: #ff9c08;
  transform: translate3d(0px, -3px, 0.01px);
}