.blog__list {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: stretch;
  gap: 25px;
}
@media screen and (max-width: 1024px) {
  .blog__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .blog__list {
    grid-template-columns: 1fr;
  }
}

.blog__item {
  display: grid;
  justify-items: center;
  gap: 25px;

  padding: 20px 30px;
  box-sizing: border-box;
  border: 1px solid #f0ece8;
  box-shadow: 0 2px 12px 0 rgb(43 43 43 / 6%);
  border-radius: 15px;
  text-decoration: none;
}

.blog__item-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #f0ece8;
}

.blog__item-text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #6e6e6e;
  text-align: center;
}

.blog__item-button {
  display: block;
  width: 100%;
  margin: 0;
  padding: 15px 30px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #f0ece8;
  background-color: transparent;

  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #000;
  text-decoration: none;

  transition: 300ms ease;
}

.blog__item-button:hover {
  cursor: pointer;
  color: #f08200;
  transform: translate3d(0px, -3px, 0.01px);
}
