.body {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #000;
}

.root {
  height: 100vh;
  display: grid;
  justify-items: center;
  grid-template: min-content;
}
