.footer__bottom {
  width: 100%;
  max-width: 1440px;
  border-top: 1px solid #f0ece8;
  margin: 100px 0 0;
  padding: 35px 100px 40px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .footer__bottom {
    padding: 35px 50px 40px;
  }
}

@media screen and (max-width: 1024px) {
  .footer__bottom {
    padding: 35px 30px 40px;
    margin: 50px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .footer__bottom {
    padding: 35px 10px 40px;
  }
}

.footer__copyright {
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #6e6e6e;
  text-align: center;
}

.footer__copyright-link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #000;

  transition: 300ms ease;
}

.footer__copyright-link:hover {
  color: #ff9c08;
}
