.footer__top {
  width: 100%;
  padding: 100px 50px;
  box-sizing: border-box;
  border-top: 1px solid #f0ece8;
  border-bottom: 1px solid #f0ece8;

  display: flex;
  justify-content: center;
  gap: 30px;
}
@media screen and (max-width: 1440px) {
  .footer__top {
    gap: 100px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1024px) {
  .footer__top {
    gap: 75px;
    padding: 75px;
  }
}
@media screen and (max-width: 768px) {
  .footer__top {
    display: grid;
    gap: 50px;
    padding: 50px 0;
  }
}

.footer__description {
  width: 100%;
  max-width: 300px;
  display: grid;
  align-self: flex-start;
  justify-items: center;
  gap: 22px;

  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #000;
}

.footer__description-text {
  margin: 0;
  text-transform: none;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #6e6e6e;
}

.footer__description_link {
  color: #6e6e6e;
  transition: 300ms ease;
}

.footer__description_link:hover {
  color: #ff9c08;
}

.footer__links {
  width: 100%;
  max-width: 300px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: grid;
  align-self: flex-start;
  justify-items: center;
  gap: 30px;

  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  color: #000;
}

@media screen and (max-width: 768px) {
  .footer__links {
    min-width: fit-content;
  }
}

.footer__link {
  text-decoration: none;
  text-transform: none;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #6e6e6e;

  transition: 300ms ease;
}

.footer__link:hover {
  cursor: pointer;
  color: #ff9c08;
  transform: translate3d(0px, -3px, 0.01px);
}

.footer__icon-links {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  gap: 25px;
}

@media screen and (max-width: 768px) {
  .footer__icon-links {
    gap: 8px;
  }
}

.footer__icon-link {
  color: transparent;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  transition: 300ms ease;
}

.footer__icon-link:hover {
  background-color: #ff9c08;
  transform: translate3d(0px, -3px, 0.01px);
}

.footer__icon-image {
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  object-fit: contain;
  object-position: center;
}
