.aboutme {
  max-width: 1440px;
  width: 100%;

  padding: 0 100px;
  box-sizing: border-box;
  background-color: #181818;
  color: #fff;

  display: grid;

  position: relative;
}

@media screen and (max-width: 1280px) {
  .aboutme {
    padding: 0 50px;
  }
}

@media screen and (max-width: 1024px) {
  .aboutme {
    padding: 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .aboutme {
    padding: 0 20px;
  }
}

.aboutme__article {
  padding: 50px 0;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
}

@media screen and (max-width: 768px) {
  .aboutme__article {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.aboutme__figure {
  margin: 0;
  align-self: flex-start;
  display: grid;
  gap: 20px;
}

.aboutme__title {
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .aboutme__title {
    font-size: 32px;
    line-height: 40px;
  }
}

.aboutme__figcaption {
  display: grid;
  gap: 20px;
}

.aboutme__text {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
}

.aboutme__list {
  list-style-type: none;
  margin: 0 0 0 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.aboutme__list-item {
  font-size: 18px;
  line-height: 22px;
  color: #fff;

  display: flex;
  align-items: center;
}

.aboutme__list-item::before {
  content: url(../../images/list-style-icon.svg);
  margin: 6px 16px 0 0;
}

.aboutme__image {
  max-width: 100%;
  justify-self: flex-end;
  object-fit: cover;
  border-radius: 12px;
  background-color: #6e6e6e;
}

@media screen and (max-width: 768px) {
  .aboutme__image {
    max-width: 85%;
    justify-self: center;
  }
}